

.categories{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 294px);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.categorie{
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.categorie:hover{
    outline: var(--cardBorder);
}

.categorie > img{
    display: flex;
    width: 293.33px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

#title {
    text-transform: capitalize;
    color: var(--mainColor);
    margin: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font);
}


#desc {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: var(--greyColor);
    font-family: var(--font);
}

/*Media queries*/
@media (max-width: 1020px) {
    .categories{
        width: 90%;
        grid-template-columns: repeat(auto-fit, 294px);
        gap: 10px;
    }
    
}

@media (max-width: 830px) {

}

@media (max-width: 670px){
    .categories{
        width: 90%;
        grid-template-columns: repeat(auto-fit, 194px);
        gap: 50px;
    }

    .categorie:hover{
        outline: none;
    }

    .categorie > img{
        width: 230px;
        height: 170px;
    }
}

@media(max-width: 487px){
    .categorie > img{
        width: 290;
        height: 200px;
    }

    .categories{
        gap: 30px;
    }
}

@media(max-width: 390px){

}

@media (max-width: 340px){
   
}