.banner{
    display: flex;
    flex-direction: column;
    height: 440px;
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

.title{
    text-align: center;
    font-family: var(--font);
    font-weight: 600;
    font-size: 48px;
    margin-top: 30px;
    color: var(--secondColor);
    text-transform: uppercase;
}

.images{
    width: 100%;
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImage{
    width: 100%;
    top: 100px;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}