<div class="detail">
    <div class="productInfo">
        <div class="item">
            <img src="assets/burguers/burguer1.png" alt="">
            <p id="title">titulo</p>
            <p id="desc">desc</p>
        </div>
    </div>
    <div class="productAbout">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare eros felis, a bibendum neque lacinia nec. Vivamus vel erat ac lorem porttitor rhoncus vitae a velit. In rutrum ac lectus id lacinia. Pellentesque a auctor dolor. Cras tristique interdum orci, et ullamcorper libero rutrum eget. Proin eget nisl ante. Fusce venenatis nisl vel massa scelerisque aliquam. </p>
    </div>
</div>